@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap%27');
body
{
  font-family: 'Source Serif Pro', serif;
  background-color: #425B8A;

}
html,body
{
  width: auto;
  height: 100%;
}
h1
{
  text-align: center;
  font-size: 50px;
}

.Principal
{

  border :2px black solid;
  min-width:80%;
  max-width: 80%;
  max-height:65%;
  min-height:65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 30px;
  background-color: white;
}
